<!-- view template -->
<!-- called from your routes in server.js -->

<!-- templating docs: http://mozilla.github.io/nunjucks/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="A cool thing made with HyperWeb">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        A Dream of the Future
      </h1>
      <h2>
        Possibly, a <span class="random">_____</span>?
      </h2>
    </header>

    <section class="add-new-post">
      <h2>
        + Add Post
      </h2>
      <form action="/posts" method="post">
        <label>
          <h3>
            Title
          </h3>
          <input name="title" placeholder="Say Hi">
        </label>
        <label>
          <h3>
            Body
          </h3>
          <textarea name="body" placeholder="How's your day going?"></textarea>
        </label>
        <button type="submit" class="button">
          Submit Post
        </button>
      </form>
      <p>
        <a href="/delete">
          Delete Posts
        </a>
        <a href="/dump">
          Dump Posts
        </a>
        <a href="/reset">
          Reset Application
        </a>
      </p>
    </section>

    <hr>

    <main>
      {% for post in posts %}
        {% block post %}
          <article>
            <h2>
              {{post.title}}
            </h2>
            <p>
              {{post.body}}
            </p>
          </article>
        {% endblock %}
      {% endfor %}
    </main>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>